<!DOCTYPE html>
<head>
  <title>Voting Poll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <div style="margin: 40px 0 0 40px">
    <h4> How many points do you think should be assigned to this task?</h4><br>

    <% @points.each_with_index do |point, index| %>
      <!-- <%if !@current_user.voted_for? point%> -->
        <!-- <%=point.unliked_by @current_user%> -->
      <!-- <% end %> -->

      <!-- Upvote -->
      <%= link_to positive_point_path(point), class: "like", class:"btn btn-primary btn-md", method: :put do %>
          <span style="margin-right: 6px"><%= point.level %></span>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <!-- <span class="badge"><%= point.get_upvotes.size %></span> -->
          <span class="badge"><%= point.votes_for.up.size%></span>
      <% end %>

      <%if @current_user.voted_as_when_voted_for point%>

      <!-- if the user voted '1' -->
        <%if index != point.votes_for.down.size %>
        <%=point.vote_registered?%>
          <%=point.unliked_by @current_user%>

        <% end %>
        <!-- if the user voted '2' -->
        <%if index != point.votes_for.down.size %>
        <%=point.vote_registered?%>
          <%=point.unliked_by @current_user%>
        <% end %>
      <% end %>


      <!-- <%= link_to negative_point_path(point), class: "like", class:"btn btn-primary btn-md", method: :put do %>
          <span style="margin-right: 6px"><%= point.level %></span>
          <span class="fa fa-thumbs-down fa-fw" aria-hidden="true"></span> -->
          <!-- <span class="badge"><%= point.get_upvotes.size %></span> -->
          <!-- <span class="badge"><%= point.votes_for.down.size%></span>
      <% end %> -->



        <!-- <%if point.vote_registered?%> -->
        <!-- <%end%> -->

    <% end %>

    </br></br></br>
    <%= link_to 'Back to Tasks Page', tasks_path(:groupname => @group.name), :class=>"btn btn-sm btn-warning"%>
  </div>
</body>
