
<!-- Theme -->
<!-- <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css"%> -->
<!-- <%= stylesheet_link_tag "https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"%> -->

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
	</script>
  <script src="//js/dataTables.responsive.js"></script>

<head>
  <script>
  $('#example').DataTable( {
    responsive: true
} );
  </script>
</head>

<link rel="stylesheet" href="//css/dataTables.responsive.scss">


<table class="table table-sm", id="example" class="display responsive no-wrap" cellspacing="0" width="100%">
  <thead class="thead-dark">

    <tr>
      <th style="font-weight:normal;width:225px">Title</th>
      <th style="font-weight:normal">Created by</th>
      <th style="font-weight:normal">Deadline</th>
      <!-- This is the average points based on the users that have voted for each task
      (The intial average points would be the points that the first user assigns to the task)  -->
      <th style="font-weight:normal">State</th>
      <th style="font-weight:normal">Assignee</th>
      <th style="font-weight:normal">Avg. Points</th>
      <% if !@current_user.is_admin %>
        <th></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grouptasks.each do |task| %>
      <% user = User.where(:id => task.assigned_to).take %>

      <tr>
        <td><%= link_to(task.title, task_path(task)) %></td>
        <td><%= task.created_by %></td>
        <td><%= task.deadline.to_date %></td>
        <td><%= task.state %></td>

        <td>
          <% if user == nil %>
            n/a
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <% if task.points.blank? %>n/a
          <% else %><%= task.points %>
          <% end %>
        </td>
        <!-- <td><%#= link_to 'Show', task %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_task_path(task, :groupname => task.group) %></td> -->

        <% if !@current_user.is_admin %>
              <td>
                <%= link_to '<i class="fa fa-check fa-fw"></i>Points Poll'.html_safe, vote_for_points_task_path(:id => task.id, :group_id => @group.id, :groupname => @group.name)%>
              </td>
        <% end %>
        <td>
          <%= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_task_path(task.id, :groupname => params[:groupname]) %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
