
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created by</th>
      <th>Deadline</th>
      <th>Points</th>
      <th>Group</th>
      <th>State</th>
      <th>Assignee</th>
      <th colspan="3"></th>



    </tr>
  </thead>

  <tbody>
    <% @grouptasks.each do |task| %>
      <% user = User.where(:id => task.assigned_to).take %>

      <tr>
        <td><%= link_to(task.title, task_path(task)) %></td>
        <td><%= task.description %></td>
        <td><%= task.created_by %></td>
        <td><%= task.deadline.to_date %></td>
        <td><%= task.points %></td>
        <td><%= task.group %></td>
        <td><%= task.state %></td>

        <td>
          <% if user == nil %>
            <%= %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <!-- <td><%#= link_to 'Show', task %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_task_path(task, :groupname => task.group) %></td> -->
        <td>
          <i class="fa fa-trash-o "></i>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>


        <td>
          <i class="fa fa-check" ></i>
          <%= link_to 'Vote for Points!', points_path(:group_id => @group.id,:task_id => task, :groupname => @group.name)%>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
