

<p class="font-weight-bold">Open</p>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <!-- <th style="width:200px">Description</th> -->
      <th>Created by</th>
      <th>Deadline</th>
      <th>Points</th>
      <!-- <th style="wdith:180px">Group</th> -->
      <th>Assignee</th>
      <th colspan="2"></th>



    </tr>
  </thead>

  <tbody>
    <% @opentasks.each do |task| %>
      <% user = User.where(:id => task.assigned_to).take %>

      <tr>
        <td><%= link_to(task.title, task_path(task)) %></td>
        <!-- <td><%#= task.description %></td> -->
        <td><%= task.created_by %></td>
        <td><%= task.deadline.to_date %></td>
        <td><%= task.points %></td>
        <!-- <td><%#= task.group %></td> -->

        <td>
          <% if user == nil %>
            <%= %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <!-- <td><%#= link_to 'Show', task %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_task_path(task, :groupname => task.group) %></td> -->
        <td>
          <i class="fa fa-trash-o "></i>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

        <td>
          <i class="fa fa-check" ></i>
          <%= link_to 'Vote for Points!', vote_for_points_task_path(:id => task.id, :group_id => @group.id, :groupname => @group.name)%>
        </td>

        <% end %>
      </tr>

  </tbody>
</table>

<br>


  <%#= will_paginate @tasks %>
