
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created by</th>
      <th>Deadline</th>
      <!-- This is the average points based on the users that have voted for each task
      (The intial average points would be the points that the first user assigns to the task)  -->
      <th>Average Points</th>
      <th>Group</th>
      <th>State</th>
      <th>Assignee</th>
      <% if !@current_user.is_admin %>
        <th colspan="2"></th>
      <% else %>
        <th colspan="1"></th>
      <% end %>


    </tr>
  </thead>

  <tbody>
    <% @grouptasks.each do |task| %>
      <% user = User.where(:id => task.assigned_to).take %>

      <tr>
        <td><%= link_to(task.title, task_path(task)) %></td>
        <td><%= task.description %></td>
        <td><%= task.created_by %></td>
        <td><%= task.deadline.to_date %></td>
        <td><%= task.points %></td>
        <td><%= task.group %></td>
        <td><%= task.state %></td>

        <td>
          <% if user == nil %>
            <%= %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <!-- <td><%#= link_to 'Show', task %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_task_path(task, :groupname => task.group) %></td> -->
        <td>
          <i class="fa fa-trash-o "></i>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

        <% if !@current_user.is_admin %>
              <td>
                <i class="fa fa-check" ></i>
                <%= link_to 'Vote for Points!', vote_for_points_task_path(:id => task.id, :group_id => @group.id, :groupname => @group.name)%>
              </td>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
