<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @task.created_by %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Points:</strong>
  <%= @task.points %>
</p>

<p>
  <strong>Group:</strong>
  <%= @task.group %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<p>
  <strong>Task type:</strong>
  <%= @task.task_type %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path(:groupname => @task.group) %>


<br><br><strong>Comments</strong><br>
<%if !@comments.any? %>
  <i>No Comments</i><br>
<% else %>
<table>
  <thead>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <%= comment.task_comment %>
      </tr><br>
      <tr>
        <i>Written by
          <% if comment.isadmin %>
          ADMIN
          <% end %>
        <%= comment.user_name %>
        <% if comment.user_id == @current_user.id %></i>
        <%= link_to 'Edit', edit_task_comment_path(comment,:task_id => params[:id]) %>
        <% end %>
      </tr><br><br>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to 'New Comment', new_task_comment_path(:task_id => params[:id]) %>
