  <head>
    <title>Voting Poll</title>
    <!-- <link rel="stylesheet" href="/css/normalize.min.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/examples.css">

    <%= csrf_meta_tags %>

    <!-- Theme -->
    <%= stylesheet_link_tag "/dist/themes/bars-square.css" %>

    <script>
        // change the status for readonly so the voters cant vote again
          // $("#example-square").barrating('readonly', true);
        $(document).ready(function(){
          // check if user has already voted
          // alert("<%= @voted %>")

          $("#example-square").change(function(){
            $.ajax({
              url: "/tasks/<%= @task.id %>/update_vote?newpoints=" + $("#example-square").val(),
              context: ""
            }).done(function() {
              window.location.reload();
              // $("#message").html($("#voted_message").html())
            });
          });
        });
  </script>

  </head>
  <body>

    <div style="margin: 40px 0 0 40px">
      <!-- <% if @voted %>
          <p id="voted_message">You have already voted! Thank you!</p>
        <% else %> -->
        <div id="message">
            <h4> How many points do you think should be assigned to this task?</h4><br>

          <div class="col">
            <div class="box box-blue box-example-square">
              <!-- <div class="box-header">Square Rating</div> -->
              <!-- <div class="box-body"> -->
                <select id="example-square" name="rating" autocomplete="off">
                  <% for i in 1..5 do%>
                    <option value="<%= i %>"
                      <% if i == @task.points %>
                        selected
                      <% end %>
                      > <%= i %></option>
                  <% end %>
                </select>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <!-- <% end %> -->


    <!-- points average => shows the average of all the votes for each task by adding
    all the votes to each other and dividing them by the number of votes
    (The first vote would be the user that creates a task and assigns a point to
    that task) -->
    <p>Points Average = <%= @average %> </p>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script> -->

    <script src="/js/jquery.barrating.js"></script>
    <script src="/js/examples.js"></script>
    <!-- <%javascript_include_tag "/js/jquery.barrating.js"%>
    <%javascript_include_tag "/js/examples.js"%> -->


    </br></br></br>
    <%= link_to 'Back to Tasks Page', tasks_path(:groupname => @group.name), :class=>"btn btn-sm btn-warning"%>
    </div>
  </body>
