<%= form_for(@group_membership) do |f| %>
  <% if @group_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_membership.errors.count, "error") %> prohibited this group_membership from being saved:</h2>

      <ul>
      <% @group_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :is_admin %><br>
    <%= f.check_box :is_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
