<div class="display-members">
  <p class="header">GROUP MEMBERS:</p>
  <% group.users.each do |user| %>
    <!-- get date user joined the group, in Jan 1, '17 format -->
    <% date_joined_grp = group.group_memberships.where(:user_id => user.id).take.created_at.strftime("%b %d, '%y") %>

    <div class="member-container">
      <!-- displays a circle with the first letter of the user's name. the group admin's
      circle is a different color. -->
      <% if user.id == group.get_admin(group) %>
        <button type="button" class="letter-container admin-color" data-toggle="popover" data-placement="top" data-html="true"
        data-content="<span><b>Group Admin</b></span><br><b><%= user.name %></b><br><%= user.email %><br><em>Group member since: </em><%= date_joined_grp %>">
          <p><%= user.name[0] %></p>
        </button>
      <% else %>
        <button type="button" class="letter-container" data-toggle="popover" data-placement="top" data-html="true"
        data-content="<b><%= user.name %></b><br><%= user.email %><br><em>Group member since: </em><%= date_joined_grp %>">
          <p><%= user.name[0] %></p>
        </button>
      <% end %>
      <!-- the split method splits a string by whitespaces into an array -->
      <%# user.name.split.each do |name| %>
        <p><%= user.name.split[0] %></p>
      <%# end %>
      <% if user.id == curr_user.id %>
        <p>(You)</p>
      <% end %>
    </div>
  <% end %>
</div>
