<div class="modal fade" id="modal<%= group.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close cursor-pointer" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

      <%= form_tag process_leave_grp_path do %>
        <!-- get status of user relative to group by calling method in group model -->
        <% @user_status = group.get_user_status(group, user) %>

        <div class="modal-body">
          <% if @user_status == 'not admin' %>
            <!-- case a.: user is not the group admin, so can leave with no side-effects -->
            <p>Are you sure you want to leave '<%= group.name %>'?</p>

          <% elsif @user_status == 'one left' %>
            <!-- case b.: user is the group admin and there is one other member, so
            that member automatically becomes group admin. -->

            <!-- get array of non-admin group members by calling method in group model -->
            <% @non_admins = group.get_non_admin_members(group) %>
            <p>Are you sure you want to leave '<%= group.name %>'? You are the admin of
            this group and the only other member is <%= @non_admins.first.name %>, so they will become
            the new group admin.</p>

          <% else %>
            ...
          <% end %>

          <%= hidden_field_tag 'id', group.id %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger cursor-pointer" data-dismiss="modal">Cancel</button>
          <!-- send data to groups#process_leave_grp -->
          <%= submit_tag 'Confirm', class: 'btn btn-success cursor-pointer' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
