<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Groups</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= link_to 'Show', group %></td>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <td>
            <!-- call function in group model -->
            <% @access_type = group.typeOfAccess(group, @user_login.token) %>
            <% if @access_type == 'view' %>
              <%= link_to 'View Group', group_path(group, :token => @user_login.token) %>
            <% elsif @access_type == 'join' %>
              Join Group
            <% elsif @access_type == 'pending' %>
              Request Pending
            <% else %>
              Request Denied
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Group', new_group_path(:token => @user_login.token), :class=>"btn btn-primary" %>
</div>
