<p id="notice"><%= notice %></p>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="bd-pageheader">
        <% if @current_user.is_admin %>
          <h1>Dashboard &mdash; Admin</h1>
        <% else %>
          <h1>Dashboard</h1>
        <% end %>
        <p class="lead">These are all of your groups.</p>
      </div>
    </div>
  </div>
  <hr>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th style="font-weight:normal">Name</th>
        <th style="font-weight:normal">Access</th>
        <% if !@current_user.is_admin %><th style="font-weight:normal">Leave</th><% end %>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>

          <td>
            <!-- call function in group model -->
            <% @access_type = group.typeOfAccess(group, @current_user) %>
            <% if @access_type == 'view' %>
              <%= link_to group_path(:id => group.id), :class => 'table-link' do %>
                <i class="fa fa-unlock fa-fw"></i>View Group
              <% end %>
            <% elsif @access_type == 'join' %>
              <%= link_to new_group_request_path(:id => group.id), :class => 'table-link' do %>
                <i class="fa fa-plus fa-fw"></i>Join Group
              <% end %>
            <% elsif @access_type == 'pending' %>
              <i class="fa fa-clock-o fa-fw"></i>Request Pending
            <% else %>
              <i class="fa fa-lock fa-fw"></i>Request Denied
            <% end %>
          </td>

          <!-- if user is a member of group, display 'Leave Group' button -->
          <% if !@current_user.is_admin %>
            <td>
              <% if @access_type == 'view' && @current_user.is_admin == false %>
                <!-- add link to toggle the modal. Since the modal displays info specific to each group, the
                modal has to have unique id's depending on which group is calling it -->
                <%= link_to groups_path, data: { toggle: "modal", target: "#modal#{group.id}" }, :class => 'table-link' do %>
                  <i class="fa fa-close fa-fw"></i>Leave Group
                <% end %>

                <!-- render modal stored in views/groups/_leave_grp_modal.html.erb (a partial view) -->
                <%= render 'groups/leave_grp_modal', :group => group, :user => @current_user %>
              <% end %>
            </td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <!-- only give regular users (not admins) ability to create a new group -->
  <% if @current_user.is_admin == false %>
    <%= link_to '<i class="fa fa-plus fa-fw" style="color:#b4dbf7"></i>New Group'.html_safe, new_group_path, :class=>"btn btn-primary btn-sm" %>
  <% end %>

  <% if @current_user.is_admin %>
    <p class="lead" style="margin:5px 0 30px 0">These are all the members of your company.</p>
    <%= render 'groups/display_all_users', :users => @users, :curr_user => @current_user %>
  <% else %>
    <br></br><p class="lead" style="margin-top:20px">This is your network.</p>
    <p class="text-muted" style="margin:-20px 0 30px 0">(all the users with whom you share a common group.)</p>
    <%= render 'groups/display_network', :curr_user => @current_user %>
  <% end %>
</div>
