<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Groups</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          
          <td>
            <!-- call function in group model -->
            <% @access_type = group.typeOfAccess(group, @user_login.token) %>
            <% if @access_type == 'view' %>
              <%= link_to group_path(:id => group.id, :token => @user_login.token) do %>
                <i class="fa fa-eye fa-fw"></i>View Group
              <% end %>
            <% elsif @access_type == 'join' %>
              <%= link_to new_group_request_path(:id => group.id, :token => @user_login.token) do %>
                <i class="fa fa-unlock fa-fw"></i>Join Group
              <% end %>
            <% elsif @access_type == 'pending' %>
              <i class="fa fa-hourglass-half fa-fw"></i>Request Pending
            <% else %>
              <i class="fa fa-lock fa-fw"></i>Request Denied
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <!-- only give regular users (not admins) ability to create a new group -->
  <% if !@is_acct_admin %>
    <%= link_to 'New Group', new_group_path(:token => @user_login.token), :class=>"btn btn-primary" %>
  <% end %>
</div>
