<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Groups</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Access</th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>

          <td>
            <!-- call function in group model -->
            <% @access_type = group.typeOfAccess(group, @current_user) %>
            <% if @access_type == 'view' %>
              <%= link_to group_path(:id => group.id) do %>
                <i class="fa fa-eye fa-fw"></i>View Group
              <% end %>
            <% elsif @access_type == 'join' %>
              <%= link_to new_group_request_path(:id => group.id) do %>
                <i class="fa fa-unlock fa-fw"></i>Join Group
              <% end %>
            <% elsif @access_type == 'pending' %>
              <i class="fa fa-hourglass-half fa-fw"></i>Request Pending
            <% else %>
              <i class="fa fa-lock fa-fw"></i>Request Denied
            <% end %>
          </td>

          <!-- if user is a member of group, display 'Leave Group' button -->
          <td>
            <% if @access_type == 'view' && @current_user.is_admin == false %>
              <!-- add link to toggle the modal. Since the modal displays info specific to each group, the
              modal has to have unique id's depending on which group is calling it -->
              <%= link_to 'Leave Group', groups_path, data: { toggle: "modal", target: "#modal#{group.id}" } %>

              <!-- render modal stored in views/groups/_leave_grp_modal.html.erb (a partial view) -->
              <%= render 'groups/leave_grp_modal', :group => group, :user => @current_user %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <!-- only give regular users (not admins) ability to create a new group -->
  <% if @current_user.is_admin == false %>
    <%= link_to 'New Group', new_group_path, :class=>"btn btn-primary" %>
  <% end %>
</div>
