<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @group.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @group.description %>
  </p>
  <!-- if user is a group admin, display table of pending requests -->
  <% if @is_grp_admin %>
    <p>Pending Requests:</p>

    <% if @pending_requests.exists? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2">Actions</th>
          </th>
        </thead>

        <tbody>
          <% @pending_requests.each do |request| %>
              <tr>
                <td><%= request.user.name %></td>
                <td><%= request.user.email %></td>
                <td><%= link_to respond_to_request_path(:id => request.id,
                  :group_id => @group.id, :token => @user_login.token, :type => 'accept') do %>
                  <i class="fa fa-thumbs-up fa-fw"></i>Accept
                  <% end %>
                </td>
                <td><%= link_to respond_to_request_path(:id => request.id,
                  :group_id => @group.id, :token => @user_login.token, :type => 'deny') do %>
                  <i class="fa fa-thumbs-down fa-fw"></i>Deny
                  <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <!-- there are no pending requests -->
      <p>No active requests to show!</p>
    <% end %>
    <br>
    <%= link_to 'Edit', edit_group_path(@group, :token => @user_login.token) %> |
  <% end %>


  <%= link_to 'Back', groups_path(:token => @user_login.token) %>
</div>
