<div class="bg-dark">
  <br>
  <div class="container bg-dark" style="color:white">
    <div class="row">
      <div class="col-md-8">
        <div class="bd-pageheader">
          <h1><%= @group.name %></h1>
          <p><span class="lead">Group.</span> &nbsp;(Admin: <%= @admin_name %>)</p>
          <% if @group.description != '' && @group.description != nil %>
            <p class="lead">
              <small class="text-muted"><%= @group.description %></small>
            </p>
          <% end %>
        </div>
      </div>
      <div class="text-right <%= 'non-admin-extra-margin text-left' if !@is_grp_admin %>">
        <% if @is_grp_admin %>
          <%= link_to 'Group Settings', edit_group_path(:group_id => @group.id), :class => 'btn btn-warning btn-sm' %>
        <% end %>
          <%= link_to 'New Task', new_task_path( :groupname => @group.name, :group_id => @group.id), :class=>"btn btn-success btn-sm"%>
          <%= link_to 'View All Tasks', tasks_path(:groupid => @group.id, :groupname => @group.name), :class => 'btn btn-primary btn-sm'%>
          <%= link_to 'View Calendar', redirect_path, :class => 'btn btn-primary btn-sm'%>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group History
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @group_notifications.reverse[0..4].each do |notification| %>
            <p class="dropdown-item" ><%= notification.message %><br><i><%= notification.created_at %></i></p>
            <% if notification != @group_notifications.first %>
              <hr>
            <% end %>
          <% end %>
          <p class="dropdown-item"><%= link_to "View full history", group_notifications_path(:group_id => params[:id])%></p>

        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>

  <!-- Bootstrap progress bar to represent time left to complete the project (based on group deadline) -->
  <% if @group.deadline != nil %>
    <div class="progress <%= 'progress-shift-left' if @overdue %>">

      <!-- conditional progress bar colors -->
      <% if @percent_completed < 33 %>
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= @percent_completed %>%"
        aria-valuenow="<%= @percent_completed %>" aria-valuemin="0" aria-valuemax="100">
      <% elsif @percent_completed < 66 %>
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @percent_completed %>%"
        aria-valuenow="<%= @percent_completed %>" aria-valuemin="0" aria-valuemax="100">
      <% else %>
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= @percent_completed %>%"
        aria-valuenow="<%= @percent_completed %>" aria-valuemin="0" aria-valuemax="100">
      <% end %>

        <% if @percent_completed >= 10 %>  <!-- (if percentage is too small, writing will get cut off) -->
          <% if @days_left >= 0 %>
            <%= @days_left %> day<%= 's' if @days_left != 1 %> left!
          <% else %>
            0 days left!  <!-- to avoid showing a negative number of days left -->
          <% end %>
        <% end %>

      </div>
      <% if @percent_completed < 10 %>
        <p><%= @days_left %> day<%= 's' if @days_left != 1 %> left!</p>
      <% end %>
    </div>

    <% if @overdue %>
      <button type="button" data-toggle="popover" data-placement="top" data-html="true"
      data-content="<%= @warning %> <%= @warning_addition %>" id="progress-warning">
        <i class="fa fa-calendar fa-fw"></i>
      </button>
    <% end %>

    <p class="progress-label start">Project started: <%= @group.created_at.localtime.to_date.strftime("%b. %-d, '%y") %></p>
    <p class="progress-label end <%= 'progress-shift-left' if @overdue %>">Project due: <%= @group.deadline.strftime("%b. %-d, '%y") %></p>

    <br></br>
  <% end %>

  <!-- if user is a group admin, display table of pending requests -->
  <% if @is_grp_admin %>
    <p class="lead">Pending Requests:</p>

    <% if @pending_requests.exists? %>
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th style="font-weight:normal">Name</th>
            <th style="font-weight:normal">Email</th>
            <th colspan="2" style="font-weight:normal">Actions</th>
          </th>
        </thead>

        <tbody>
          <% @pending_requests.each do |request| %>
              <tr>
                <td><%= request.user.name %></td>
                <td><%= request.user.email %></td>
                <td><%= link_to respond_to_request_path(:id => request.id, :group_id => @group.id, :type => 'accept'), :class => 'table-link' do %>
                  <i class="fa fa-thumbs-up fa-fw"></i>Accept
                  <% end %>
                </td>
                <td><%= link_to respond_to_request_path(:id => request.id, :group_id => @group.id, :type => 'deny'), :class => 'table-link' do %>
                  <i class="fa fa-thumbs-down fa-fw"></i>Deny
                  <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <!-- there are no pending requests -->
      <p>No active requests to show!</p>
    <% end %>
  <% end %>

  <!-- display group members, stored in views/groups/_display_members.html.erb (a partial view) -->
  <%= render 'groups/display_members', :group => @group, :curr_user => @current_user %>

  <p class="lead">Tasks:</p>
    <%= render(
      partial: 'tasks/list_open_tasks_in_group',
      locals: { tasks: @opentasks, :groupname => @group.name }
    ) %>

    <%= render(
      partial: 'tasks/list_in_progress_tasks_in_group',
      locals: { tasks: @inprogresstasks, :groupname => @group.name }
    ) %>

    <%= render(
      partial: 'tasks/list_completed_tasks_in_group',
      locals: { tasks: @completedtasks, :groupname => @group.name }
    ) %>
</div>
