<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @group.name %>
  </p>



  <%= link_to 'Edit', edit_group_path(@group, :token => @user_login.token) %> |
  <%= link_to 'Back', groups_path(:token => @user_login.token) %>


  <%= link_to 'Create New Task', new_task_path(:groupID => @group.id, :token => @user_login.token), :class=>"btn btn-primary"%>
  <%= link_to 'View Tasks', tasks_path(:token => @user_login.token)%>

</div>
