<div class="container">
  <p id="notice"><%= notice %></p>

  <h3><%= @group.name %></h3>
  <% if @group.description != '' && @group.description != nil %>
    <p>
      <span class="header">ABOUT:</span>&nbsp;
      <%= @group.description %>
    </p>
  <% end %>

  <!-- if user is a group admin, display table of pending requests -->
  <% if @is_grp_admin %>
    <p class="header pending-requests">PENDING REQUESTS:</p>

    <% if @pending_requests.exists? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2">Actions</th>
          </th>
        </thead>

        <tbody>
          <% @pending_requests.each do |request| %>
              <tr>
                <td><%= request.user.name %></td>
                <td><%= request.user.email %></td>
                <td><%= link_to respond_to_request_path(:id => request.id, :group_id => @group.id, :type => 'accept'), :class => 'table-link' do %>
                  <i class="fa fa-thumbs-up fa-fw"></i>Accept
                  <% end %>
                </td>
                <td><%= link_to respond_to_request_path(:id => request.id, :group_id => @group.id, :type => 'deny'), :class => 'table-link' do %>
                  <i class="fa fa-thumbs-down fa-fw"></i>Deny
                  <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <!-- there are no pending requests -->
      <p>No active requests to show!</p>
    <% end %>
  <% end %>

  <!-- display group members, stored in views/groups/_display_members.html.erb (a partial view) -->
  <%= render 'groups/display_members', :group => @group, :curr_user => @current_user %>

  <% if @is_grp_admin %>
    <%= link_to 'Group Settings', edit_group_path(:group_id => @group.id), :class => 'btn btn-warning btn-sm' %>
  <% end %>
  <%= link_to 'Create New Task', new_task_path( :groupname => @group.name), :class=>"btn btn-primary btn-sm"%>
  <%= link_to 'View Tasks', tasks_path(:groupid => @group.id, :groupname => @group.name), :class => 'btn btn-success btn-sm'%>
  <br></br>
  <%= link_to 'Back', groups_path %>
</div>

<div>
  <%= render(
    partial: 'tasks/listopentasksingroup',
    locals: { tasks: @opentasks }
  ) %>

  <%= render(
    partial: 'tasks/listingroup',
    locals: { tasks: @grouptasks }
  ) %>


</div>
