<p id="notice"><%= notice %></p>

<h1>Listing Group Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_requests.each do |group_request| %>
      <tr>
        <td><%= group_request.user_id %></td>
        <td><%= group_request.group_id %></td>
        <td><%= group_request.status %></td>
        <td><%= link_to 'Show', group_request %></td>
        <td><%= link_to 'Edit', edit_group_request_path(group_request) %></td>
        <td><%= link_to 'Destroy', group_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group request', new_group_request_path %>
