<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group_request.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_request.group_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @group_request.status %>
</p>

<%= link_to 'Edit', edit_group_request_path(@group_request) %> |
<%= link_to 'Back', group_requests_path %>
