<h1>User Settings</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_admin %><br>
    <%= f.check_box :is_admin %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <!-- <br/>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password%>
  </div>
<br/>
  <div class="field">
    <%= f.label :Password_Confirmation %><br>
    <%= f.text_field :password_confirmation%>
  </div> -->

   <!-- <%= f.password_field :password_confirmation%> </p> -->

  <%= f.hidden_field :token, value: @user_login.token %>
  <%= hidden_field_tag 'token', @user_login.token %>
  <br/>
  <%= link_to('Change Password', edit_user_login_path(@user_login, :token => @user_login.token), :class=>"btn btn-danger", :style=>"cursor:pointer") %>

  <br/>
  <br/>
  <div class="actions">
    <%= f.submit('Update', :class=>"btn btn-warning", :style=>"cursor:pointer") %>
  </div>
<% end %>
  <br/>

<%= link_to('Back', user_path(@user, :token => @user_login.token), :class=>"btn btn-primary", :style=>"cursor:pointer") %>
