<div class="container">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container mt-5">
      <div class="col-md-6 center">
        <h2 style="text-align:center">Update Your Profile</h2>

        <div class="field form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :avatar, 'Profile Picture URL' %>
          <%= f.url_field :avatar, class: 'form-control', placeholder: 'https://' %>
        <br>
        <div class="actions">
          <%= f.submit("Save Changes", :class=>"btn btn-sm btn-warning form-control", :style=>"cursor:pointer") %>
          <br></br><%= link_to 'Back', user_path(@user), :class=>"btn btn-sm btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>
  <br>
</div>
