<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <% if @user.avatar.blank? %>
    <!-- user has no avatar; display default (first letter of name)-->
    <div class="letter-container avatar ml-2">
      <p><%= @user.name[0] %></p>
    </div>
  <% else %>
    <img class="avatar ml-2" src="<%= @user.avatar %>">
    <br>
  <% end %>
  <br>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Admin?</strong>
    <% if @user.is_admin %> Yes
    <% else %> No
    <% end %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Joined on:</strong>
    <%= @user.created_at.localtime.to_date %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= link_to 'Change Password', new_change_password_path%>
  </p>
  <%= link_to 'Edit', edit_user_path(@user), :class=>"btn btn-sm btn-warning", :style=>"cursor:pointer" %>
  <%= link_to 'Back', groups_path, :class=>"btn btn-sm btn-primary", :style=>"cursor:pointer" %>
</div>
