 <div class="container mt-5">
  <div class="col-md-6 center" style="text-align:center">
    <% if flash[:notice] -%>
      <div class = "alert alert-success" style="text-align:center"><%= flash[:notice] %></div><br>
    <% end %>

  <% if @user.avatar.blank? %>
    <!-- user has no avatar; display default (first letter of name)-->
    <div class="letter-container avatar center <%= 'admin-color' if @user.is_admin %>">
      <p><%= @user.name[0] %></p>
    </div>
  <% else %>
    <img class="avatar" src="<%= @user.avatar %>" onerror="this.onerror=null;this.src='http://www.rockcreekdothan.com/Common/images/jquery/galleria/image-not-found.png'">
    <br>
  <% end %>
  <br>
  <h3>
    <%= @user.name %>
  </h3>

  <p class="lead">
    <%= @user.email %>
  </p>

  <p>
    <strong>Admin?</strong>
    <% if @user.is_admin %><i class="fa fa-check fa-fw" style="color:#11b234;font-size:18px"></i>
    <% else %><i class="fa fa-close fa-fw" style="color:#db1b11;font-size:18px"></i>
    <% end %>
  </p>

  <p>
    <strong>Joined on:</strong>
    <%= @user.created_at.localtime.to_date %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= link_to 'Change Password', new_change_password_path%>
  </p>
  <%= link_to 'Edit Profile', edit_user_path(@user), :class=>"btn btn-sm btn-warning", :style=>"cursor:pointer" %>
  <%= link_to 'Back', groups_path, :class=>"btn btn-sm btn-primary", :style=>"cursor:pointer" %>
</div>
</div>
