<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @user.date_created %>
</p>

<%= link_to 'Edit', edit_user_path(@user, :token => @user_login.token) %> |
<%= link_to 'Back', users_path(:token => @user_login.token) %>
