<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @user.date_created %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to('Edit', edit_user_path(@user, :token => @user_login.token), :class=>"btn btn-warning", :style=>"cursor:pointer") %> |
<%= link_to('Back', groups_path(:token => @user_login.token), :class=>"btn btn-primary", :style=>"cursor:pointer") %>
