<%= form_for(@task_comment) do |f| %>
  <% if @task_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_comment.errors.count, "error") %> prohibited this task_comment from being saved:</h2>

      <ul>
      <% @task_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :grp_admin %><br>
    <%= f.check_box :grp_admin %>
  </div>
  <div class="field">
    <%= f.label :task_comment %><br>
    <%= f.text_area :task_comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
