
<div class="container">
  <p id="notice"><%= notice %></p>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="bd-pageheader">
        <h1>Events</h1>
        <p class="lead">This is where you can organize company events.</p>
      </div>
    </div>
  </div>
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td>
            <%= link_to event.name, event %>
          </td>
          <td><%= event.description %></td>
          <td><%= event.date %></td>
          <td>
            <small>
              <strong><%= event.location_name %></strong><br>
              <%= event.location_address %><br>
              <%= event.location_city %>,
              <%= event.location_province %>
              <%= event.location_postal_code %></td>
            </small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path, :class=>"btn btn-primary" %>
</div>
