<div class="jumbotron text-center bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left text-white">
                <h1 class="display-3">Welcome to <storng>ProjectHub</strong></h1>
                <hr>
                <p>This app will make tracking group projects, assigning tasks and communicating within the group much easier. Also, the ability for a teacher or supervisor to see how a project is progressing allows them to make suggestions and evaluate each member’s contributions.</p>
            </div>
            <div class="col-md-6 text-left">
                <div class="card">
                    <div class="card-body">
                        <%= form_for(@user_login) do |f| %>
                            <div class="form-group">
                                <%= f.label :email %>
                                <%= f.text_field :email, :class => 'form-control', :placeholder=> 'Email' %>
                            </div>
                            <div class="form-group">
                                <%= f.label :password %><br>
                                <%= f.text_field :password, :class => 'form-control', :placeholder => 'Password', :type => 'password' %>
                            </div>
                            <div class="actions">
                                <%= f.submit("Login", :class=>"btn btn-primary", :style=>"cursor:pointer") %>
                            </div>
                            <% if @user_login.errors.any? %>
                                <br>
                                <div id="error_explanation">
                                    <div class="alert alert-danger text-left" role="alert">
                                        <% @user_login.errors.full_messages.each do |message| %>
                                            <%= message %><br>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                        <hr>
                        <small>Don't have a login? Please contact your administrator!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="alert alert-dark text-center" role="alert">
        Every single company will have their own portal. <strong>This one is specific to CMPT 276</strong>
    </div>
</div>
