<div class="jumbotron text-center bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left text-white">
                <h1 class="display-3">Welcome to <strong>ProjectHub</strong></h1>
                <hr>
                <p>Makes tracking group projects, assigning tasks, communicating within teams and visualizing each member's contributions easy!</p>
            </div>
            <div class="col-md-6 text-left">
                <div class="card">
                    <div class="card-body">
                        <%= form_for(@user_login) do |f| %>
                            <div class="form-group">
                                <%= f.label :email %>
                                <%= f.text_field :email, :class => 'form-control', :placeholder=> 'Email' %>
                            </div>
                            <div class="form-group">
                                <%= f.label :password %><br>
                                <%= f.text_field :password, :class => 'form-control', :placeholder => 'Password', :type => 'password' %>
                            </div>
                            <div class="actions">
                                <%= f.submit("Login", :class=>"btn btn-primary", :style=>"cursor:pointer") %>
                                <%= link_to("Sign up", new_user_path, :class=>"btn btn-primary", :style=>"cursor:pointer") %>
                            </div>
                            <% if @user_login.errors.any? %>
                                <br>
                                <div id="error_explanation">
                                    <div class="alert alert-danger text-left" role="alert">
                                        <% @user_login.errors.full_messages.each do |message| %>
                                            <%= message %><br>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                        <hr>
                        <small>Don't have a login? Please contact your administrator!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="alert alert-info text-center" role="alert">
        Note: Each company has its own portal. This one belongs to <strong>Simon Fraser University</strong>.
    </div>
</div>
