<p id="notice"><%= notice %></p>

<h1>Listing User Logins</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_logins.each do |user_login| %>
      <tr>
        <td><%= user_login.email %></td>
        <td><%= user_login.password %></td>
        <td><%= user_login.token %></td>
        <td><%= link_to 'Show', user_login %></td>
        <td><%= link_to 'Edit', edit_user_login_path(user_login) %></td>
        <td><%= link_to 'Destroy', user_login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
