<ul>
  <table>
    <h4> Events in Calendar </h4>
    <% @event_list.items.each do |event| %>
      <!-- <li><%#= event.summary %> (<%#= event.id %>)</li> -->
      <li><%= event.summary %>  <%= event.description %> </li>

    <% end %>
  </table>

  <!-- <%#= link_to 'Create new event', new_event_path %> -->
  <%#= form_tag new_event_url(:summary => "Hello") do %>
    <%#= submit_tag 'Add event' %>
  <%# end %>

</ul>

<div>
  <h4> Add events to Calendar </h4>
  <table>
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Created by</th>
        <th>Deadline</th>
        <th>Group</th>
        <th>Assignee</th>

      </tr>
    </thead>

    <tbody class="t-body">
      <% @tasks.each do |task| %>
        <% user = User.where(:id => task.assigned_to).take %>

        <tr>
          <td><%= link_to(task.title, task_path(task)) %></td>
          <td><%= task.created_by %></td>
          <td><%= task.deadline.to_date %></td>
          <td><%= task.group %></td>

          <td>
            <% if user == nil %>
              <%= %>
            <% else %>
              <%= user.name %>
            <% end %>
          </td>
          <!-- <td><%#= link_to 'Show', task %></td> -->
          <!-- <td><%#= link_to 'Edit', edit_task_path(task, :groupname => task.group) %></td> -->
          <td>
            <%#= link_to 'Add to calendar', new_event_path(:taskid => task.id) %>
            <%#= submit_tag 'Add event' %>
            <%= form_tag new_event_url(:taskid => task.id) do %>
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
              <%= submit_tag('Add to calendar', class: "btn btn-xs btn-info") %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
