<div class="list-group">
    <h4> Events in Calendar </h4>
    <% @today = Date.today %>
    <% todaystring = @today.to_s(:db) %>
    <% todayparsed = DateTime.parse(todaystring) %>
    <% formatted_today = todayparsed.strftime('%a %b %d, %Y') %>
    <h6>Today is: <%= formatted_today %> </h4>
    <!-- <%# @event_list.items.sort_by(&:start) %> -->
    <% @event_list.items.each do |event| %>
      <!-- <li><%#= event.summary %> (<%#= event.id %>)</li> -->
      <li class="list-group-item justify-content-between">
        <%= link_to(event.summary, show_event_path(:id => event.id)) %>  <%#= event.id %>
        <% eventtime = event.start.date_time.localtime %>
        <% eventtimestring = eventtime.to_s(:db) %>
        <% eventtimeparsed = DateTime.parse(eventtimestring) %>
        <% formatted_datetime = eventtimeparsed.strftime('%a %b %d, %Y | %I:%M%P') %>
        <% days_till_event = (eventtime - Time.zone.now).to_i / 1.day %>
        <span class="badge badge-default badge-pill"><%= formatted_datetime %></span>
        <span class="badge badge-default badge-pill"><%= days_till_event %> days from today</span>

      </li>
    <% end %>

  <!-- <%#= link_to 'Create new event', new_event_path %> -->
  <%#= form_tag new_event_url(:summary => "Hello") do %>
    <%#= submit_tag 'Add event' %>
  <%# end %>
</div>
<%= link_to('Go to Google Calendar', 'https://calendar.google.com/calendar', class:
"btn btn-info") %>

</br>
</br>
</br>
</br>
<div>
  <h4> Add Tasks to Calendar </h4>
  <table>
    <thead class="thead-dark">
      <tr>
        <th>Task</th>
        <!-- <th>Created by</th> -->
        <th>Deadline&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Group</th>
        <th>Assignee</th>

      </tr>
    </thead>

    <tbody>
      <% @alltasks.each do |task| %>
        <% user = User.where(:id => task.assigned_to).take %>

        <tr>
          <td><%= link_to(task.title, task_path(task)) %></td>
          <!-- <td><%#= task.created_by %></td> -->
          <td><%= task.deadline.to_date %></td>
          <td><%= task.group %></td>

          <td>
            <% if user == nil %>
              <%= %>
            <% else %>
              <%= user.name %>
            <% end %>
          </td>
          <!-- <td><%#= link_to 'Show', task %></td> -->
          <!-- <td><%#= link_to 'Edit', edit_task_path(task, :groupname => task.group) %></td> -->
          <td>
            <%#= link_to 'Add to calendar', new_event_path(:taskid => task.id) %>
            <%#= submit_tag 'Add event' %>
            <%= form_tag new_event_url(:taskid => task.id) do %>
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
              <%= submit_tag('Add to calendar', class: "btn btn-xs btn-info") %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
