<!-- views/calendars_api/show_event.html.erb -->
<div class="container mt-5">
  <div class="col-md-5 center">
      <h4 class="display-4"> Task/Event Details </h4>
  </div>
  <div class="col-md-5 center">

    <strong> Summary: </strong>
      <%= @show_calendar_event.summary %>

    </br>
    <strong> Description: </strong>
      <% if @show_calendar_event.description != nil %>
        <%= @show_calendar_event.description %>
      <% else %>
         n/a
      <% end %>

    </br>
    <strong> Date: </strong>
      <%= @formatted_datetime %>

    </br>
    </br>   
    <%= link_to 'Back', calendar_events_path('primary'), class:
    "btn btn-info" %>

    <% eventid = @show_calendar_event.id %>
    <%= link_to('View in Google Calendar', 'https://calendar.google.com/calendar/#{eventid}',
      class: "btn btn-info") %>
  </div>
</div>
