<!-- views/calendars_api/show_event.html.erb -->
<h4> Task Details </h4>
<strong> Summary: </strong>
  <%= @show_event.summary %>

</br>
<strong> Description: </strong>
  <% if @show_event.description != nil %>
    <%= @show_event.description %>
  <% else %>
     n/a
  <% end %>

</br>
<strong> Deadline: </strong>
  <%= @formatted_datetime %>

</br>
<%= link_to 'Back', events_path('primary'), class:
"btn btn-info" %>

<% eventid = @show_event.id %>
<%= link_to('View in Google Calendar', 'https://calendar.google.com/calendar/#{eventid}',
  class: "btn btn-info") %>
