<% unless action_name == "getNotifications" || action_name == "alertNotification" || action_name == "getAllNotifications"%>
  <!DOCTYPE html>
  <html>
      <head>
          <title>Cmpt 276: ProjectHub</title>
          <link rel="shortcut icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Circle_Davys-Grey_Solid.svg/2000px-Circle_Davys-Grey_Solid.svg.png"/>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' %>

          <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag '//code.jquery.com/jquery-3.2.1.min.js' %>
          <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' %>
          <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' %>
          <%= csrf_meta_tags %>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">ProjectHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <% @current_url = request.fullpath %>
                    <% if @current_url.exclude? "user_logins" %>
                        <% if @current_url.exclude? "users/new" %>
                            <div class="navbar-nav">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <%= link_to 'Dashboard', groups_path, :class => 'nav-link' %>
                                    </li>
                                    <li class="nav-item">
                                        <%= link_to 'Events', events_path, :class => 'nav-link' %>
                                    </li>
                                    <li class="nav-item">
                                        <%= link_to 'Calendar', redirect_path, :class => 'nav-link' %>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle cursor-pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Stats
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                          <%= link_to '<i class="fa fa-line-chart" aria-hidden="true"></i> User Graphs'.html_safe, graphs_user_path(User.where(:email => @user_login.email).first), :class=>"dropdown-item" if @user_login.try(:email) %>

                                        </div>
                                    </li>
                                </ul>
                            </div>


                              <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                      <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <% if @alert == true %>
                                            <div class="cursor-pointer" id="alert">Notifications <i class="fa fa-exclamation-circle"></i></div>
                                        <% else %>
                                            <div class="cursor-pointer" id="alert">Notifications</div>
                                        <% end %>
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications">
                                        <% if !@user_notifications.nil? %>
                                          <% @user_notifications.reverse[0..4].each do |user_notification| %>
                                            <%= link_to group_path(user_notification.group_id) do %>
                                            <!-- check if notification is read or not -->
                                            <% if user_notification.status == false %>
                                              <p class="dropdown-item" onmouseover="readNotification('<%= user_notification.id %>')"> <i class="fa fa-exclamation-circle"></i><%= user_notification.message %><br><i><%= user_notification.created_at %></i></p>
                                              <% else %>
                                              <p class="dropdown-item"><%= user_notification.message %><br><i><%= user_notification.created_at %></i></p>

                                              <% end %>
                                            <% end %>
                                          <% end %>
                                        <% end %>
                                        <% if @alert == true %>
                                          <p class="dropdown-item"><%= link_to "<i class='fa fa-exclamation-circle'></i>View all notifications".html_safe, notifications_path %></p>
                                        <% else %>
                                          <p class="dropdown-item"><%= link_to "View all notifications", notifications_path %></p>
                                        <% end %>
                                      </div>
                                  </li>
                              </ul>


                              <ul class="navbar-nav ml-auto mr-5">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle cursor-pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Profile
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                      <%= link_to '<i class="fa fa-gear fa-fw"></i>Settings'.html_safe, user_path(User.where(:email => @user_login.email).first), :class=>"dropdown-item" if @user_login.try(:email) %>
                                      <% if Company.where(:name => 'Simon Fraser University').exists? %>
                                        <%= link_to '<i class="fa fa-briefcase fa-fw"></i>Your Company'.html_safe, company_path(Company.where(:name => 'Simon Fraser University').take.id), class: 'dropdown-item' %>
                                      <% end %>

                                      <%= link_to '<i class="fa fa-sign-out fa-fw"></i>Logout'.html_safe, new_user_login_path, :class=>"dropdown-item" %>
                                      </div>
                                  </li>
                              </ul>
                          <% end %>
                      <% end %>
                  </div>
              </div>
          </nav>
          <% end %>
          <%= yield %>
      </body>
  </html>
